. {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#container-form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: verdana, arial, impact;
    text-align: center;
    font-size: 15px;
}

#resultado {
    font-family: verdana, arial;
    font-size: 15px;
    color: rgb(202, 40, 0);
}